<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="爱执教,竞赛,赛项,一带一路,金砖">
    <meta name="description" content="爱执教是一个职业教育竞赛与实训的门户，创建于2022年，包含了新闻资讯、通知公告、技能证书展示、实训平台展示、沟通与建议、比赛管理、比赛报名、赛事风采、赛事新闻、赛事直播、大赛设备、赛事公告、资源下载、成绩查询的专业的职业教育比赛与实训的平台。">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>爱执教</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
